# Ignore shaders and third-party files in GitHub's language stats
*.shader linguist-vendored
*.cginc linguist-vendored
*.hlsl linguist-vendored

# Ignore iOS plugin files that GitHub mistakes for Wolfram Language
*.m linguist-vendored

# Ignore standard Unity generated data
*.mat linguist-vendored
*.anim linguist-vendored
*.asset linguist-vendored
*.meta linguist-vendored